fastapi
uvicorn
pydantic
python-dotenv
tqdm
Pillow
langchain
langchain-openai
langchain-community
langchain-pinecone
langchain-core
openai
pinecone-client
PyPDF2
python-docx
numpy
langserve==0.3.0
googleapis-common-protos
grpcio
protoc_gen_openapiv2
python-magic
python-multipart
unstructured[pdf]
python-magic
unstructured
pylibmagic
httpx==0.23.0
crawl4ai[all]
playwright

